@page "/weather"
<PageTitle>Weather</PageTitle>
<HtmxView>
    <Default>
        <h1>Weather</h1>
        <p>This component demonstrates showing data.</p>
        <div hx-get="/weather" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
            <p><em>Loading...</em></p>
        </div>
    </Default>
    <NonBoosted>
        <WeatherData/>
    </NonBoosted>
</HtmxView>
